# Excel Dateien mit R

*Hinweis: Die Excel-Datei hat viele fehlende Werte. Das soll aber kein Problem für uns sein und kann ignoriet werden.*

R hat die Fähigkeit Excel-Datein zu lesen und zu schreiben. Das macht es sehr praktisch mit den selben Datansätzen zu arbeiten wir Analysten oder Kollegen, die nur Excel kennen. Sie können ihre Daten wie gewohnt in Excel bearbeiten, sie euch übergeben und ihr arbeitet in R weiter!

Um dies zu tun benötigen wir das [readxl](https://cran.r-project.org/web/packages/readxl/readxl.pdf) Paket für R. Downloaden können wir es per:

**install.packages('readxl')** 

Unter Umständen müssen wir noch folgendes definieren:

**repos="http://cran.rstudio.com/"**

Schauen wir uns an, wie das eingesetzt wird:

In [1]:
# Für die Installation
install.packages('readxl',repos="http://cran.rstudio.com/")

also installing the dependencies ‘rematch’, ‘rlang’, ‘cellranger’, ‘Rcpp’, ‘tibble’

The downloaded binary packages are in
	/var/folders/l_/ph09zg211515zffvzrp3bb680000gn/T//RtmpZEwfH0/downloaded_packages

In [3]:
# Das readx1 Paket laden
library(readxl)

In [4]:
# Die Blätter der Excel-Datei auflisten
excel_sheets('Beispiel-Verkaufs-Daten.xlsx')

[1] "Sheet1"

In [5]:
# Informationen aus den Sheet aufrufen
df <- read_excel('Beispiel-Verkaufs-Daten.xlsx',sheet='Sheet1')

In [6]:
head(df)

  PLZ  Verkaeufer_ID Verkaeufer_Name Jahr Umsatz
1 2121 456           Jane            2011 84219.50
2 2092 789           Ashish          2012 28322.19
3 2128 456           Jane            2013 81879.00
4 2073 123           John            2011 44491.14
5 2134 789           Ashish          2012 71837.72
6 2162 123           John            2013 64531.55

Jetzt können wir Operationen wie bei einem R Data Frame durchführen:

In [7]:
sum(df['Umsatz'])

[1] 19199461

In [8]:
str(df)

Classes ‘tbl_df’, ‘tbl’ and 'data.frame':	390 obs. of  5 variables:
 $ PLZ            : chr  "2121" "2092" "2128" "2073" ...
 $ Verkaeufer_ID  : num  456 789 456 123 789 123 456 789 123 789 ...
 $ Verkaeufer_Name: chr  "Jane" "Ashish" "Jane" "John" ...
 $ Jahr           : num  2011 2012 2013 2011 2012 ...
 $ Umsatz         : num  84219 28322 81879 44491 71838 ...

In [9]:
summary(df)

     PLZ            Verkaeufer_ID Verkaeufer_Name         Jahr
 Length:390         Min.   :123   Length:390         Min.   :2011
 Class :character   1st Qu.:123   Class :character   1st Qu.:2011
 Mode  :character   Median :456   Mode  :character   Median :2012
                    Mean   :456                      Mean   :2012
                    3rd Qu.:789                      3rd Qu.:2013
                    Max.   :789                      Max.   :2013
     Umsatz
 Min.   :  106.4
 1st Qu.:26101.5
 Median :47447.4
 Mean   :49229.4
 3rd Qu.:72277.8
 Max.   :99878.5

Falls wir mehrere Sheets hätten importieren wollen, können wir dazu `lapply()` nutzen:

In [10]:
entire_workbook <- lapply(excel_sheets("Beispiel-Verkaufs-Daten.xlsx"), 
                      read_excel, 
                      path = "Beispiel-Verkaufs-Daten.xlsx")

In [11]:
# Alles anzeigen:
entire_workbook

[[1]]
# A tibble: 390 x 5
     PLZ Verkaeufer_ID Verkaeufer_Name  Jahr   Umsatz
   <chr>         <dbl>           <chr> <dbl>    <dbl>
 1  2121           456            Jane  2011 84219.50
 2  2092           789          Ashish  2012 28322.19
 3  2128           456            Jane  2013 81879.00
 4  2073           123            John  2011 44491.14
 5  2134           789          Ashish  2012 71837.72
 6  2162           123            John  2013 64531.55
 7  2093           456            Jane  2011 58962.64
 8  2042           789          Ashish  2012 27521.79
 9  2198           123            John  2013 77985.13
10  2043           789          Ashish  2011 49546.12
# ... with 380 more rows

## Excel-Dateien schreiben

Um in Excel-Datei zu schreiben benötigen wir das xlsx Paket:

In [12]:
install.packages('xlsx',repos="http://cran.rstudio.com/")

also installing the dependencies ‘rJava’, ‘xlsxjars’

The downloaded binary packages are in
	/var/folders/l_/ph09zg211515zffvzrp3bb680000gn/T//RtmpZEwfH0/downloaded_packages

In [13]:
library(xlsx)

Loading required package: rJava
Loading required package: xlsxjars

In [14]:
df <- data.frame(matrix(1:10))
write.xlsx(df, "Output.xlsx")

In [15]:
read_excel('Output.xlsx')

   X__1 matrix.1.10.
1  1     1
2  2     2
3  3     3
4  4     4
5  5     5
6  6     6
7  7     7
8  8     8
9  9     9
10 10   10

Soviel zu den Grundlagen im Umgang mit Excel-Datei, also dem Lesen und Schreiben von Einträgen. Da nicht alle Studenten notwendigerweise Excel verwenden werden wir im restlichen Verlauf des Kurses bei CSV-Dateien bleiben.