# Matrix Operationen

Nachdem wir jetzt gelernt haben, wie wir Matrizen erstellen können, können wir uns anschauen, wie wir Operationen mit ihnen durchführen.

**Führe den folgenden Code aus, um die Aktien-Matrix aus der vorherigen Lektion zu erstellen.**

In [1]:
# Preise
goog <- c(450,451,452,445,468)
msft <- c(230,231,232,236,228)

# Vektoren in eine Matrix fassen
aktien <- c(goog,msft)
aktien.matrix <- matrix(aktien,byrow=TRUE,nrow=2)

# Namen vergeben
tage <- c('Mo','Di','Mi','Do','Fr')
aktien.namen <- c('GOOG','MSFT')
colnames(aktien.matrix) <- tage
rownames(aktien.matrix) <- aktien.namen

# Anzeigen
aktien.matrix

     Mo  De  Mi  Do  Fr
GOOG 450 451 452 445 468
MSFT 230 231 232 236 228

Wir können verschiedene Funktionen entlang den Spalten und Zeilen durchführen. Ein Beispiel ist die `colSum`.

In [2]:
colSums(aktien.matrix)

 Mo  De  Mi  Do  Fr
680 682 684 681 696

In [3]:
# Ergibt für Aktien nicht viel Sinn, wir möchten uns aber zumindest die Funktionalität anschauen
rowSums(aktien.matrix)

GOOG MSFT
2266 1157

Es stehen uns viele weitere mathematische Operationen zur Verfügungn: Dieser [Verweis](https://cran.r-project.org/doc/contrib/Short-refcard.pdf) listet alle verfügbaren Funktionen auf.

In [4]:
rowMeans(aktien.matrix)

 GOOG  MSFT
453.2 231.4

# Zeilen und Spalten hinzufügen

Lasst uns jetzt anschauen, wie wir Zeilen und Spalten zu einer Matrix hinzufügen können. Dazu nutzen wir `cbind()` (für Spalten) und `rbind()` für die Zeilen. Wir können beispielhaft Informationen der Facebook Aktie hinzufügen:

In [5]:
FB <- c(111,112,113,120,145)

In [6]:
tech.aktien <- rbind(aktien.matrix,FB)

In [7]:
tech.aktien

     Mo  De  Mi  Do  Fr
GOOG 450 451 452 445 468
MSFT 230 231 232 236 228
FB   111 112 113 120 145

Lasst uns als nächstes eine Spalte für den Durchschnitt (en. average) hinzufügen.

In [8]:
avg <- rowMeans(tech.aktien)

In [9]:
avg

 GOOG  MSFT    FB
453.2 231.4 120.2

In [10]:
tech.aktien <- cbind(tech.aktien,avg)

In [11]:
tech.aktien

     Mo  De  Mi  Do  Fr  avg
GOOG 450 451 452 445 468 453.2
MSFT 230 231 232 236 228 231.4
FB   111 112 113 120 145 120.2

Toll! Das waren die Grundlagen der Matrix Operationen. Als nächstes beschäftigen wir uns mit der Auswahl und Indexierung von Elementen innerhalb einer Matrix.