# Data Frames mergen

Lasst uns als nächstes lernen, wie wir Data Frames zusammenführen (en. merge) können.

In [1]:
## Wir nutzen Zeichen, um eine sortierbare Datenbasis zu haben
autoren <- data.frame(
    nachname = I(c("Tukey", "Venables", "Tierney", "Ripley", "McNeil")),
    nation = c("US", "Australien", "US", "UK", "Australien"),
    verstorben = c("ja", rep("nein", 4)))

In [2]:
buecher <- data.frame(
    name = I(c("Tukey", "Venables", "Tierney",
             "Ripley", "Ripley", "McNeil", "R Core")),
    titel = c("Exploratory Data Analysis",
              "Modern Applied Statistics ...",
              "LISP-STAT",
              "Spatial Statistics", "Stochastic Simulation",
              "Interactive Data Analysis",
              "An Introduction to R"),
    weiterer.autor = c(NA, "Ripley", NA, NA, NA, NA,
                     "Venables & Smith"))

In [3]:
autoren

  nachname nation     verstorben
1 Tukey    US         ja
2 Venables Australien nein
3 Tierney  US         nein
4 Ripley   UK         nein
5 McNeil   Australien nein

In [4]:
buecher

  name     titel                         weiterer.autor
1 Tukey    Exploratory Data Analysis     NA
2 Venables Modern Applied Statistics ... Ripley
3 Tierney  LISP-STAT                     NA
4 Ripley   Spatial Statistics            NA
5 Ripley   Stochastic Simulation         NA
6 McNeil   Interactive Data Analysis     NA
7 R Core   An Introduction to R          Venables & Smith

In [5]:
(m1 <- merge(autoren, buecher, by.x = "nachname", by.y = "name"))

  nachname nation     verstorben titel                         weiterer.autor
1 McNeil   Australien nein       Interactive Data Analysis     NA
2 Ripley   UK         nein       Spatial Statistics            NA
3 Ripley   UK         nein       Stochastic Simulation         NA
4 Tierney  US         nein       LISP-STAT                     NA
5 Tukey    US         ja         Exploratory Data Analysis     NA
6 Venables Australien nein       Modern Applied Statistics ... Ripley

In [6]:
(m2 <- merge(buecher, autoren, by.x = "name", by.y = "nachname"))
stopifnot(as.character(m1[, 1]) == as.character(m2[, 1]),
          all.equal(m1[, -1], m2[, -1][ names(m1)[-1] ]),
          dim(merge(m1, m2, by = integer(0))) == c(36, 10))

## "R core" fehlt bei den Autoren:
merge(autoren, buecher, by.x = "nachname", by.y = "name", all = TRUE)

## Beispiel für die Verwendung von 'incomparables'
x <- data.frame(k1 = c(NA,NA,3,4,5), k2 = c(1,NA,NA,4,5), data = 1:5)
y <- data.frame(k1 = c(NA,2,NA,4,5), k2 = c(NA,NA,3,4,5), data = 1:5)
merge(x, y, by = c("k1","k2")) # NA's Übereinstimmung
merge(x, y, by = "k1") # NA's Übereinstimmung, also 6 Zeilen
merge(x, y, by = "k2", incomparables = NA) # 2 Zeilen

  name     titel                         weiterer.autor nation     verstorben
1 McNeil   Interactive Data Analysis     NA             Australien nein
2 Ripley   Spatial Statistics            NA             UK         nein
3 Ripley   Stochastic Simulation         NA             UK         nein
4 Tierney  LISP-STAT                     NA             US         nein
5 Tukey    Exploratory Data Analysis     NA             US         ja
6 Venables Modern Applied Statistics ... Ripley         Australien nein

  nachname nation     verstorben titel                         weiterer.autor
1 McNeil   Australien nein       Interactive Data Analysis     NA
2 R Core   NA         NA         An Introduction to R          Venables & Smith
3 Ripley   UK         nein       Spatial Statistics            NA
4 Ripley   UK         nein       Stochastic Simulation         NA
5 Tierney  US         nein       LISP-STAT                     NA
6 Tukey    US         ja         Exploratory Data Analysis     NA
7 Venables Australien nein       Modern Applied Statistics ... Ripley

  k1 k2 data.x data.y
1  4  4 4      4
2  5  5 5      5
3 NA NA 2      1

  k1 k2.x data.x k2.y data.y
1  4  4   4       4   4
2  5  5   5       5   5
3 NA  1   1      NA   1
4 NA  1   1       3   3
5 NA NA   2      NA   1
6 NA NA   2       3   3

  k2 k1.x data.x k1.y data.y
1 4  4    4      4    4
2 5  5    5      5    5