# Data Frame Operationen

Data Frames sind die Arbeitstiere von R, deshalb erstellen wir uns in dieser Lektion eine Art "Cheatsheet" der üblichsten Operationen. Dadurch wird diese Lektion extrem nützlich sein und uns im weiteren Verlauf des Kurses extrem viel Zeit sparen, da wir Data Frames bereits kennen und auf unser Cheatsheet zurückgreifen können. 

Wir werden uns eine Übersicht der folgenden typischen Operationen verschaffen:

* Data Frames erstellen
* Importieren und Exportieren von Daten
* Informationen über die Data Frames erhalten
* Bezug auf Zellen nehmen
* Bezug auf Zeilen nehmen
* Bezug auf Spalten nehmen
* Zeilen hinzufügen
* Spalten hinzufügen
* Spaltennamen definieren
* Merhere Zeilen auswählen
* Mehrere Spalten auswählen
* Mit fehlenden Werten umzugehen

# Data Frames erstellen

In [1]:
leer <- data.frame() # Leerer Data Frame

c1 <- 1:10 # Vektor von Zahlen

c2 <- letters[1:10] # Verktor von Zeichen

df <- data.frame(spalte.name.1=c1,spalte.name.2=c2)

In [2]:
df

   spalte.name.1 spalte.name.2
1   1            a
2   2            b
3   3            c
4   4            d
5   5            e
6   6            f
7   7            g
8   8            h
9   9            i
10 10            j

# Import und Export von Daten

In [ ]:
d2 <- read.csv('ein.datei.name.csv')

# Für Excel-Datein
# Lade das readx1 Paket 
# dazu muss es evtl. noch installiert werden: install.packages("readxl") 
# Der Umgang mit Packages werden wir allerdings später durchgehen
library(readxl)
# Rufe Info der Arbeitsblätter durch read.excel auf
df <- read_excel('Beispiel-Verkaufs-Daten.xlsx',sheet='Sheet1')

# Ausgabe zu CSV
write.csv(df, file='ein.datei.name.csv')

# Information über Data Frames erhalten

In [3]:
# Zeilen und Spalten zählen
nrow(df)
ncol(df)

[1] 10

[1] 2

In [4]:
# Spalten Namen
colnames(df)

[1] "spalte.name.1" "spalte.name.2"

In [5]:
# Zeilen Namen (wobei auch nur der Index ausgegeben werden könnte)
rownames(df)

 [1] "1"  "2"  "3"  "4"  "5"  "6"  "7"  "8"  "9"  "10"

# Bezug auf Zellen nehmen

Wir können uns unter den Grundlagen die Verwendung von zwei Klammer-Paaren vorstellen, um eine einzelne Zelle abzufragen. Und für mehrere Zellen verwenden wir ein einfaches Klammer-Paar. Ein Beispiel:

In [6]:
vec <- df[[5, 2]] # Erhalte die Zelle durch [[Zeile,Spalte]]

dfneu <- df[1:5, 1:2] # Erhalte merhere Zeilen und Spalten für den neuen df

df[[2, 'spalte.name.1']] <- 99999 # Einer Zelle einen neuen Wert zuteilen

In [7]:
df

   spalte.name.1 spalte.name.2
1      1         a
2  99999         b
3      3         c
4      4         d
5      5         e
6      6         f
7      7         g
8      8         h
9      9         i
10    10         j

# Bezug auf Zeilen nehmen

Wir nutzen üblicherweise die [Zeile,] Notation

In [8]:
# Gibt einen df zurück, nicht einen Vektor
zeilendf <- df[1, ]

In [9]:
zeilendf

  spalte.name.1 spalte.name.2
1 1             a

In [10]:
# Um eine Zeile zu einem Vektor zu machen schreiben wir folgendes
vzeile <- as.numeric(as.vector(df[1,]))

In [11]:
vzeile

[1] 1 1

# Bezug auf Spalten nehmen

Die meisten Spaltenbezüge geben einen Vektor zurück:

In [12]:
autos <- mtcars
head(autos)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [13]:
spaltenv1 <- autos$mpg # Gibt einen Vektor zurück
spaltenv1

spaltenv2 <- autos[, 'mpg'] # Gibt einen Vektor zurück
spaltenv2

spaltenv3<- autos[, 1]
spaltenv3

spaltenv4 <- autos[['mpg']] # Gibt einen Vektor zurück
spaltenv4

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

In [14]:
# Wege um Data Frames zu erzeugen
mpgdf <- autos['mpg'] # Erzeugt einen df mit einer Spalte
head(mpgdf)

mpgdf2 <- autos[1] # Erzeugt einen df mit einer Spalte
head(mpgdf2)

                  mpg
Mazda RX4         21.0
Mazda RX4 Wag     21.0
Datsun 710        22.8
Hornet 4 Drive    21.4
Hornet Sportabout 18.7
Valiant           18.1

                  mpg
Mazda RX4         21.0
Mazda RX4 Wag     21.0
Datsun 710        22.8
Hornet 4 Drive    21.4
Hornet Sportabout 18.7
Valiant           18.1

# Zeilen hinzufügen

In [15]:
# Beide Argumente sind Data Frames
df2 <- data.frame(spalte.name.1=2000,spalte.name.2='neu' )
df2

# Nutze rbind, um eine neue Zeile zu erstellen!
dfneu <- rbind(df,df2)

  spalte.name.1 spalte.name.2
1 2000          neu

In [16]:
dfneu

   spalte.name.1 spalte.name.2
1      1         a
2  99999         b
3      3         c
4      4         d
5      5         e
6      6         f
7      7         g
8      8         h
9      9         i
10    10         j
11  2000         neu

# Spalten hinzufügen

In [17]:
df$neuespalte <- rep(NA, nrow(df)) # NA Spalte
df

   spalte.name.1 spalte.name.2 neuespalte
1      1         a             NA
2  99999         b             NA
3      3         c             NA
4      4         d             NA
5      5         e             NA
6      6         f             NA
7      7         g             NA
8      8         h             NA
9      9         i             NA
10    10         j             NA

In [18]:
df[, 'kopie.con.spalte.2'] <- df$spalte.name.2 # Eine Spalte kopieren
df

   spalte.name.1 spalte.name.2 neuespalte kopie.con.spalte.2
1      1         a             NA         a
2  99999         b             NA         b
3      3         c             NA         c
4      4         d             NA         d
5      5         e             NA         e
6      6         f             NA         f
7      7         g             NA         g
8      8         h             NA         h
9      9         i             NA         i
10    10         j             NA         j

In [19]:
# Wir können auch Gleichungen verwenden
df[['spalte1.mal.zwei']] <- df$spalte.name.1 * 2
df

   spalte.name.1 spalte.name.2 neuespalte kopie.con.spalte.2 spalte1.mal.zwei
1      1         a             NA         a                       2
2  99999         b             NA         b                  199998
3      3         c             NA         c                       6
4      4         d             NA         d                       8
5      5         e             NA         e                      10
6      6         f             NA         f                      12
7      7         g             NA         g                      14
8      8         h             NA         h                      16
9      9         i             NA         i                      18
10    10         j             NA         j                      20

In [20]:
df3 <- cbind(df, df$spalte.name.1)
df3

   spalte.name.1 spalte.name.2 neuespalte kopie.con.spalte.2 spalte1.mal.zwei
1      1         a             NA         a                       2
2  99999         b             NA         b                  199998
3      3         c             NA         c                       6
4      4         d             NA         d                       8
5      5         e             NA         e                      10
6      6         f             NA         f                      12
7      7         g             NA         g                      14
8      8         h             NA         h                      16
9      9         i             NA         i                      18
10    10         j             NA         j                      20
   df$spalte.name.1
1      1
2  99999
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10

# Spaltennamen definieren

In [21]:
# Zweite Spalte umbenennen
colnames(df)[2] <- 'Name der zweiten Spalte'
df

# Wir können auch alle mit einem Vektor umbenennen
colnames(df) <- c('spalte.1', 'spalte.2', 'spalte.3', 'spalte.4' ,'spalte.5')
df

   spalte.name.1 Name der zweiten Spalte neuespalte kopie.con.spalte.2
1      1         a                       NA         a
2  99999         b                       NA         b
3      3         c                       NA         c
4      4         d                       NA         d
5      5         e                       NA         e
6      6         f                       NA         f
7      7         g                       NA         g
8      8         h                       NA         h
9      9         i                       NA         i
10    10         j                       NA         j
   spalte1.mal.zwei
1       2
2  199998
3       6
4       8
5      10
6      12
7      14
8      16
9      18
10     20

   spalte.1 spalte.2 spalte.3 spalte.4 spalte.5
1      1    a        NA       a             2
2  99999    b        NA       b        199998
3      3    c        NA       c             6
4      4    d        NA       d             8
5      5    e        NA       e            10
6      6    f        NA       f            12
7      7    g        NA       g            14
8      8    h        NA       h            16
9      9    i        NA       i            18
10    10    j        NA       j            20

# Mehrere Zeilen auswählen

In [22]:
erste.zehn.zeilen <- df[1:10, ] # Gleich zu head(df, 10)
erste.zehn.zeilen

   spalte.1 spalte.2 spalte.3 spalte.4 spalte.5
1      1    a        NA       a             2
2  99999    b        NA       b        199998
3      3    c        NA       c             6
4      4    d        NA       d             8
5      5    e        NA       e            10
6      6    f        NA       f            12
7      7    g        NA       g            14
8      8    h        NA       h            16
9      9    i        NA       i            18
10    10    j        NA       j            20

In [23]:
aulles.außer.zeile.zwei <- df[-2, ]
aulles.außer.zeile.zwei

   spalte.1 spalte.2 spalte.3 spalte.4 spalte.5
1   1       a        NA       a         2
3   3       c        NA       c         6
4   4       d        NA       d         8
5   5       e        NA       e        10
6   6       f        NA       f        12
7   7       g        NA       g        14
8   8       h        NA       h        16
9   9       i        NA       i        18
10 10       j        NA       j        20

In [24]:
# Bedingte Auswahl
sub1 <- df[ (df$spalte.1 > 8 & df$spalte.5 > 10), ]
sub1

sub2 <- subset(df, spalte.1 > 8 & spalte.5 > 10)
sub2

   spalte.1 spalte.2 spalte.3 spalte.4 spalte.5
2  99999    b        NA       b        199998
9      9    i        NA       i            18
10    10    j        NA       j            20

   spalte.1 spalte.2 spalte.3 spalte.4 spalte.5
2  99999    b        NA       b        199998
9      9    i        NA       i            18
10    10    j        NA       j            20

# Mehrere Spalten wählen

In [25]:
df[, c(1, 2, 3)] # Die Spalten 1 bis 3 wählen

   spalte.1 spalte.2 spalte.3
1      1    a        NA
2  99999    b        NA
3      3    c        NA
4      4    d        NA
5      5    e        NA
6      6    f        NA
7      7    g        NA
8      8    h        NA
9      9    i        NA
10    10    j        NA

In [26]:
df[, c('spalte.1', 'spalte.5')] # Nach Namen

   spalte.1 spalte.5
1      1         2
2  99999    199998
3      3         6
4      4         8
5      5        10
6      6        12
7      7        14
8      8        16
9      9        18
10    10        20

In [27]:
df[, -1] # Alle Spalten außer die erste

   spalte.2 spalte.3 spalte.4 spalte.5
1  a        NA       a             2
2  b        NA       b        199998
3  c        NA       c             6
4  d        NA       d             8
5  e        NA       e            10
6  f        NA       f            12
7  g        NA       g            14
8  h        NA       h            16
9  i        NA       i            18
10 j        NA       j            20

In [28]:
df[, -c(1, 3)] # Ohne Spalte 1 und 3

   spalte.2 spalte.4 spalte.5
1  a        a             2
2  b        b        199998
3  c        c             6
4  d        d             8
5  e        e            10
6  f        f            12
7  g        g            14
8  h        h            16
9  i        i            18
10 j        j            20

# Mit fehlenden Werten umgehen

Mit felhenden Werten umgehen zu können ist eine wichtige Fähigkeit bei der Arbeit mit Data Frames!

In [29]:
any(is.na(df)) # Suche nach NA Werten

[1] TRUE

In [30]:
any(is.na(df$spalte.1)) # Suche nach NA Werten in einer Spalte

[1] FALSE

In [ ]:
# Die Zeilen mit fehlenden Werten löschen
df <- df[!is.na(df$spalte.1), ]

In [ ]:
# NAs mit etwas anderem ersetzen
df[is.na(df)] <- 0 # Für den gesamten df

In [ ]:
df$spalte.3[is.na(df$spalte.3)] <- 999 # Für eine Spezielle Spalte

# Geschafft!

### Hoffentlich hilft das! Und denkt daran, dieses Notebook als Referenz für spätere Lektionen und Aufgaben zu verwenden.