# Guide zur Verwendung von dplyr

Wir werden die folgenden Funktionen behandeln:

* filter() (und slice())
* arrange()
* select() (und rename())
* distinct()
* mutate() (und transmute())
* summarise()
* sample_n() und sample_frac()

# Installation

Wir können `dplyr` installieren, indem wir folgendes ausführen:

In [1]:
install.packages('dplyr')

also installing the dependencies ‘bindr’, ‘assertthat’, ‘bindrcpp’, ‘glue’, ‘pkgconfig’, ‘plogr’

The downloaded binary packages are in
	/var/folders/l_/ph09zg211515zffvzrp3bb680000gn/T//RtmpX5Fabl/downloaded_packages

In [2]:
# Ausführen durch
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

## Beispiel Datensatz

Wir können einige Flugdaten für unsere Beispiele verwenden. Wir laden dazu den nycflights12 Datensatz herunter:

In [3]:
install.packages('nycflights13',repos = 'http://cran.us.r-project.org')

The downloaded binary packages are in
	/var/folders/l_/ph09zg211515zffvzrp3bb680000gn/T//RtmpX5Fabl/downloaded_packages

In [4]:
library(nycflights13)
summary(flights)

      year          month             day           dep_time    sched_dep_time
 Min.   :2013   Min.   : 1.000   Min.   : 1.00   Min.   :   1   Min.   : 106
 1st Qu.:2013   1st Qu.: 4.000   1st Qu.: 8.00   1st Qu.: 907   1st Qu.: 906
 Median :2013   Median : 7.000   Median :16.00   Median :1401   Median :1359
 Mean   :2013   Mean   : 6.549   Mean   :15.71   Mean   :1349   Mean   :1344
 3rd Qu.:2013   3rd Qu.:10.000   3rd Qu.:23.00   3rd Qu.:1744   3rd Qu.:1729
 Max.   :2013   Max.   :12.000   Max.   :31.00   Max.   :2400   Max.   :2359
                                                 NA's   :8255
   dep_delay          arr_time    sched_arr_time   arr_delay
 Min.   : -43.00   Min.   :   1   Min.   :   1   Min.   : -86.000
 1st Qu.:  -5.00   1st Qu.:1104   1st Qu.:1124   1st Qu.: -17.000
 Median :  -2.00   Median :1535   Median :1556   Median :  -5.000
 Mean   :  12.64   Mean   :1502   Mean   :1536   Mean   :   6.895
 3rd Qu.:  11.00   3rd Qu.:1940   3rd Qu.:1945   3rd Qu.:  14.000
 Max.   :1301.00   Max.   :2400   Max.   :2359   Max.   :1272.000
 NA's   :8255      NA's   :8713                  NA's   :9430
   carrier              flight       tailnum             origin
 Length:336776      Min.   :   1   Length:336776      Length:336776
 Class :character   1st Qu.: 553   Class :character   Class :character
 Mode  :character   Median :1496   Mode  :character   Mode  :character
                    Mean   :1972
                    3rd Qu.:3465
                    Max.   :8500

     dest              air_time        distance         hour
 Length:336776      Min.   : 20.0   Min.   :  17   Min.   : 1.00
 Class :character   1st Qu.: 82.0   1st Qu.: 502   1st Qu.: 9.00
 Mode  :character   Median :129.0   Median : 872   Median :13.00
                    Mean   :150.7   Mean   :1040   Mean   :13.18
                    3rd Qu.:192.0   3rd Qu.:1389   3rd Qu.:17.00
                    Max.   :695.0   Max.   :4983   Max.   :23.00
                    NA's   :9430
     minute        time_hour
 Min.   : 0.00   Min.   :2013-01-01 05:00:00
 1st Qu.: 8.00   1st Qu.:2013-04-04 13:00:00
 Median :29.00   Median :2013-07-03 10:00:00
 Mean   :26.23   Mean   :2013-07-03 05:02:36
 3rd Qu.:44.00   3rd Qu.:2013-10-01 07:00:00
 Max.   :59.00   Max.   :2013-12-31 23:00:00

In [5]:
# Achtet auf die Größe des Datensatzes
dim(flights)

[1] 336776     19

## filter() 

`filter()` erlaubt es uns eine Auswahl an Zeilen eines Data Frame zu wählen. Das erste Argument ist dabei der Name des Data Frame. Das zweite und die nachfolgenden Argumente definieren, wie der Data Frame gefiltert werden soll:

Zum Beispiel können wir alle Flüge vom 3. November und der Airline (AA) wählen.

In [6]:
head(filter(flights,month==11,day==3,carrier=='AA'))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 11    3   538      545            -7        824      855
2 2013 11    3   556      600            -4        900      905
3 2013 11    3   604      610            -6        844      855
4 2013 11    3   624      629            -5        907      929
5 2013 11    3   625      630            -5        736      805
6 2013 11    3   653      655            -2        925      920
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 -31       AA      2243   N5DWAA  JFK    MIA  144      1089     5    45
2  -5       AA      1175   N3CSAA  LGA    MIA  148      1096     6     0
3 -11       AA      1103   N3KDAA  LGA    DFW  192      1389     6    10
4 -22       AA      1205   N3EJAA  EWR    MIA  141      1085     6    29
5 -29       AA       303   N4WJAA  LGA    ORD  113       733     6    30
6   5       AA      1263   N634AA  JFK    LAS  306      2248     6    55
  time_hour
1 2013-11-03 05:00:00
2 2013-11-03 06:00:00
3 2013-11-03 06:00:00
4 2013-11-03 06:00:00
5 2013-11-03 06:00:00
6 2013-11-03 06:00:00

Das ist wensentlich einfacher als der herkömmlcihe Weg über die Date Frame Auswahl:

In [7]:
head(flights[flights$month == 11 & flights$day == 3 & flights$carrier == 'AA', ])

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 11    3   538      545            -7        824      855
2 2013 11    3   556      600            -4        900      905
3 2013 11    3   604      610            -6        844      855
4 2013 11    3   624      629            -5        907      929
5 2013 11    3   625      630            -5        736      805
6 2013 11    3   653      655            -2        925      920
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 -31       AA      2243   N5DWAA  JFK    MIA  144      1089     5    45
2  -5       AA      1175   N3CSAA  LGA    MIA  148      1096     6     0
3 -11       AA      1103   N3KDAA  LGA    DFW  192      1389     6    10
4 -22       AA      1205   N3EJAA  EWR    MIA  141      1085     6    29
5 -29       AA       303   N4WJAA  LGA    ORD  113       733     6    30
6   5       AA      1263   N634AA  JFK    LAS  306      2248     6    55
  time_hour
1 2013-11-03 05:00:00
2 2013-11-03 06:00:00
3 2013-11-03 06:00:00
4 2013-11-03 06:00:00
5 2013-11-03 06:00:00
6 2013-11-03 06:00:00

## slice()

Wir können außerdem Zeilen durch `slice()` auswählen:

In [8]:
slice(flights, 1:10)

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013 1     1   517      515             2         830      819
2  2013 1     1   533      529             4         850      830
3  2013 1     1   542      540             2         923      850
4  2013 1     1   544      545            -1        1004     1022
5  2013 1     1   554      600            -6         812      837
6  2013 1     1   554      558            -4         740      728
7  2013 1     1   555      600            -5         913      854
8  2013 1     1   557      600            -3         709      723
9  2013 1     1   557      600            -3         838      846
10 2013 1     1   558      600            -2         753      745
   arr_delay carrier flight tailnum origin dest air_time distance hour minute
1   11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2   20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3   33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4  -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5  -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6   12       UA      1696   N39463  EWR    ORD  150       719     5    58
7   19       B6       507   N516JB  EWR    FLL  158      1065     6     0
8  -14       EV      5708   N829AS  LGA    IAD   53       229     6     0
9   -8       B6        79   N593JB  JFK    MCO  140       944     6     0
10   8       AA       301   N3ALAA  LGA    ORD  138       733     6     0
   time_hour
1  2013-01-01 05:00:00
2  2013-01-01 05:00:00
3  2013-01-01 05:00:00
4  2013-01-01 05:00:00
5  2013-01-01 06:00:00
6  2013-01-01 05:00:00
7  2013-01-01 06:00:00
8  2013-01-01 06:00:00
9  2013-01-01 06:00:00
10 2013-01-01 06:00:00

## arrange()

`arrange()` funktioniert wie filter(), allerdings werden die Zeilen nicht gefiltert oder ausgewhält, sondern neu geordnet. Es nimmt den Data Frame und eine Auswahl an Spaltennamen (oder kompliziertere Ausdrücke) und sortiert nach ihnen. Wenn wir mehr als einen Spaltennamen angeben wird jede weitere Spalte genutzt, um die Sortierung weiter herunterzubrechen.

In [9]:
head(arrange(flights,year,month,day,air_time))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   2302     2200           62        2342     2253
2 2013 1     1   1318     1322           -4        1358     1416
3 2013 1     1   2116     2110            6        2202     2212
4 2013 1     1   2000     2000            0        2054     2110
5 2013 1     1   2056     2004           52        2156     2112
6 2013 1     1    908      915           -7        1004     1033
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  49       EV      4276   N13903  EWR    BDL  24       116      22    0
2 -18       EV      4106   N19554  EWR    BDL  25       116      13   22
3 -10       EV      4404   N15912  EWR    PVD  28       160      21   10
4 -16       9E      3664   N836AY  JFK    PHL  30        94      20    0
5  44       EV      4170   N12540  EWR    ALB  31       143      20    4
6 -29       US      1467   N959UW  LGA    PHL  32        96       9   15
  time_hour
1 2013-01-01 22:00:00
2 2013-01-01 13:00:00
3 2013-01-01 21:00:00
4 2013-01-01 20:00:00
5 2013-01-01 20:00:00
6 2013-01-01 09:00:00

Für die absteigende Sortierung können wir `desc()` mit angeben:

In [10]:
head(arrange(flights,desc(dep_delay)))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1      9   641      900           1301      1242     1530
2 2013 6     15  1432     1935           1137      1607     2120
3 2013 1     10  1121     1635           1126      1239     1810
4 2013 9     20  1139     1845           1014      1457     2210
5 2013 7     22   845     1600           1005      1044     1815
6 2013 4     10  1100     1900            960      1342     2211
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 1272      HA        51   N384HA  JFK    HNL  640      4983      9    0
2 1127      MQ      3535   N504MQ  JFK    CMH   74       483     19   35
3 1109      MQ      3695   N517MQ  EWR    ORD  111       719     16   35
4 1007      AA       177   N338AA  JFK    SFO  354      2586     18   45
5  989      MQ      3075   N665MQ  JFK    CVG   96       589     16    0
6  931      DL      2391   N959DL  JFK    TPA  139      1005     19    0
  time_hour
1 2013-01-09 09:00:00
2 2013-06-15 19:00:00
3 2013-01-10 16:00:00
4 2013-09-20 18:00:00
5 2013-07-22 16:00:00
6 2013-04-10 19:00:00

## select() 

Oft arbeiten wir mit großen Datensätzen mit vielen Spalten, von denen uns nur einige wenige interessieren. `select()` ermöglicht es uns einfach und schnell auf das benötigte Subset zuzugreifen:

In [11]:
head(select(flights,carrier))

  carrier
1 UA
2 UA
3 AA
4 B6
5 DL
6 UA

## rename()

Um Spalten umzubenennen nutzen wir `rename()`:

In [12]:
head(rename(flights,airline_car = carrier))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay airline_car flight tailnum origin dest air_time distance hour
1  11       UA          1545   N14228  EWR    IAH  227      1400     5
2  20       UA          1714   N24211  LGA    IAH  227      1416     5
3  33       AA          1141   N619AA  JFK    MIA  160      1089     5
4 -18       B6           725   N804JB  JFK    BQN  183      1576     5
5 -25       DL           461   N668DN  LGA    ATL  116       762     6
6  12       UA          1696   N39463  EWR    ORD  150       719     5
  minute time_hour
1 15     2013-01-01 05:00:00
2 29     2013-01-01 05:00:00
3 40     2013-01-01 05:00:00
4 45     2013-01-01 05:00:00
5  0     2013-01-01 06:00:00
6 58     2013-01-01 05:00:00

## distinct()

Eine übliche Anwendung von select() ist es ein Set der Ausprägungen einer Variablen zu erhalten. Dazu bietet sich die `distinct()` Funktion an, welche unique Werte in einer Tabelle ausgibt.

In [13]:
distinct(select(flights,carrier))

   carrier
1  UA
2  AA
3  B6
4  DL
5  EV
6  MQ
7  US
8  WN
9  VX
10 FL
11 AS
12 9E
13 F9
14 HA
15 YV
16 OO

## mutate() 

Neben der Auswahl von bereits existierenden Spalten ist es oft nützlich neue Spalten als Funktion bereits bestehender Spalten hinzuzufügen. Für diese Aufgabe gibt es `mutate()`:

In [14]:
head(mutate(flights, new_col = arr_delay-dep_delay))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour           new_col
1 2013-01-01 05:00:00   9
2 2013-01-01 05:00:00  16
3 2013-01-01 05:00:00  31
4 2013-01-01 05:00:00 -17
5 2013-01-01 06:00:00 -19
6 2013-01-01 05:00:00  16

## transmute()

Nutze `transmute()`, wenn du nur die neue Spalte willst:

In [15]:
head(transmute(flights, new_col = arr_delay-dep_delay))

  new_col
1   9
2  16
3  31
4 -17
5 -19
6  16

## summarise()

Wir können summarise() nutzen, um schnell eine Zeile aus einem ganzen Data Frame zu erzeugen, indem wir Aggregationsfunktionen verwenden. Denkt daran na.rm=TRUE einzugeben, wenn NA Werte entfernt werden sollen.

In [16]:
summarise(flights,avg_air_time=mean(air_time,na.rm=TRUE))

  avg_air_time
1 150.6865

## sample_n() und sample_frac()

Um ein zufälliges Subset an Zeilen aus dem Data Frame zu erhalten können wir `sample_n()` (für eine bestimmte Anzahl) oder `sample_frac()` (für einen bestimmten Anteil) verwenden.

In [17]:
sample_n(flights,10)

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013  8     1  2015     1704           191       2251     1952
2  2013  1     8  1549     1555            -6       1812     1810
3  2013  4    13  2057     1950            67         17     2340
4  2013  6    19  1518     1525            -7       1722     1725
5  2013  2    14  1355     1359            -4       1652     1657
6  2013  5     5  1150     1116            34       1345     1345
7  2013 10    23  1432     1428             4       1712     1654
8  2013  6    26  1905     1735            90       2044     1915
9  2013  4    22  2142     2005            97         33     2311
10 2013  9    24  1909     1900             9       2052     2040
   arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  179       UA      1497   N33266  EWR    LAS  305      2227     17    4
2    2       EV      3820   N13553  EWR    SDF  116       642     15   55
3   37       B6       645   N583JB  JFK    SFO  359      2586     19   50
4   -3       MQ      3199   N511MQ  LGA    CLT   85       544     15   25
5   -5       UA      1003   N37287  EWR    PBI  163      1023     13   59
6    0       UA       405   N435UA  LGA    DEN  203      1620     11   16
7   18       B6       477   N190JB  JFK    JAX  133       828     14   28
8   89       WN        19   N903WN  EWR    STL  122       872     17   35
9   82       UA       373   N408UA  EWR    AUS  202      1504     20    5
10  12       MQ      3591   N857MQ  LGA    RDU   67       431     19    0
   time_hour
1  2013-08-01 17:00:00
2  2013-01-08 15:00:00
3  2013-04-13 19:00:00
4  2013-06-19 15:00:00
5  2013-02-14 13:00:00
6  2013-05-05 11:00:00
7  2013-10-23 14:00:00
8  2013-06-26 17:00:00
9  2013-04-22 20:00:00
10 2013-09-24 19:00:00

In [18]:
# .005% der Daten
sample_frac(flights,0.00005) # Für Bootstrapping nutze replace=TRUE

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013 11     1  1004      951            13       1225     1207
2  2013 12    11  1750     1800           -10       2000     1935
3  2013  5    20   654      700            -6        844      906
4  2013  4     2   630      633            -3        739      745
5  2013  3    16   826      827            -1       1216     1216
6  2013  7    19  2219     2142            37       2333     2259
7  2013  1    11  1411     1420            -9       1602     1620
8  2013  6     5  1411     1415            -4       1505     1525
9  2013 11     3  2103     2059             4       2340     2348
10 2013  9    28  1910     1905             5       2046     2058
11 2013  2    14  1520     1450            30       1658     1640
12 2013  8    11  1807     1710            57       2119     2015
13 2013  4    10  1825     1817             8       2059     2045
14 2013  6    19   747      755            -8        931      955
15 2013  6    20  1457     1500            -3       1615     1622
16 2013  7     9   829      830            -1       1108     1125
17 2013  1    29  1804     1805            -1       1935     1935
   arr_delay carrier flight tailnum origin dest air_time distance hour minute
1   18       UA       406   N446UA  EWR    DEN  225      1605      9   51
2   25       MQ      3486   N814MQ  LGA    BNA  153       764     18    0
3  -22       EV      4535   N12163  EWR    MSP  139      1008      7    0
4   -6       EV      4241   N14180  EWR    DCA   45       199      6   33
5    0       B6       403   N590JB  JFK    SJU  189      1598      8   27
6   34       EV      3832   N15973  EWR    DCA   40       199     21   42
7  -18       MQ      4588   N3AEMQ  LGA    MSP  150      1020     14   20
8  -20       EV      3843   N29906  EWR    MHT   39       209     14   15
9   -8       UA       475   N425UA  EWR    IAH  186      1400     20   59
10 -12       9E      3433   N903XJ  JFK    PIT   59       340     19    5
11  18       MQ      4403   N806MQ  JFK    RDU   74       427     14   50
12  64       AA       181   N336AA  JFK    LAX  343      2475     17   10
13  14       DL       926   N338NB  EWR    ATL  116       746     18   17
14 -24       MQ      3478   N720MQ  LGA    DTW   84       502      7   55
15  -7       US      2179   N721UW  LGA    DCA   47       214     15    0
16 -17       UA      1401   N39416  EWR    MIA  139      1085      8   30
17   0       WN       389   N297WN  LGA    MDW  132       725     18    5
   time_hour
1  2013-11-01 09:00:00
2  2013-12-11 18:00:00
3  2013-05-20 07:00:00
4  2013-04-02 06:00:00
5  2013-03-16 08:00:00
6  2013-07-19 21:00:00
7  2013-01-11 14:00:00
8  2013-06-05 14:00:00
9  2013-11-03 20:00:00
10 2013-09-28 19:00:00
11 2013-02-14 14:00:00
12 2013-08-11 17:00:00
13 2013-04-10 18:00:00
14 2013-06-19 07:00:00
15 2013-06-20 15:00:00
16 2013-07-09 08:00:00
17 2013-01-29 18:00:00

# Zusammenfassung

Hoffentlich konntest du die Nutzung von `dplyr()` nachvollziehen und dir so viel Zeit sparen! Denke an `help()`, um weitere Informationen zu erhalten oder schaue in die [Dokumentation](https://cran.r-project.org/web/packages/dplyr/dplyr.pdf).